<p style="color: green"><%= notice %></p>

<%= render @minister_document_forward_natdirectorate %>

<div>
  <%= link_to "Edit this minister document forward natdirectorate", edit_minister_document_forward_natdirectorate_path(@minister_document_forward_natdirectorate) %> |
  <%= link_to "Back to minister document forward natdirectorates", minister_document_forward_natdirectorates_path %>

  <%= button_to "Destroy this minister document forward natdirectorate", @minister_document_forward_natdirectorate, method: :delete %>
</div>
