<p style="color: green"><%= notice %></p>

<%= render @document_dg_forward_department_unit %>

<div>
  <%= link_to "Edit this document dg forward department unit", edit_document_dg_forward_department_unit_path(@document_dg_forward_department_unit) %> |
  <%= link_to "Back to document dg forward department units", document_dg_forward_department_units_path %>

  <%= button_to "Destroy this document dg forward department unit", @document_dg_forward_department_unit, method: :delete %>
</div>
