<p style="color: green"><%= notice %></p>

<%= render @minister_document_forward_department %>

<div>
  <%= link_to "Edit this minister document forward department", edit_minister_document_forward_department_path(@minister_document_forward_department) %> |
  <%= link_to "Back to minister document forward departments", minister_document_forward_departments_path %>

  <%= button_to "Destroy this minister document forward department", @minister_document_forward_department, method: :delete %>
</div>
