
  <div class="card mt-2">
    <div class="card-header cardcolor"> Document DN </div>
    <div class="card-body">

    <div class="row g-0">
      <div class="col-6"> <%= link_to "New Document", new_document_from_dn_path, class:"bi bi-plus btn btn-secondary btn-sm menu-hover" %></div>
      <div class="col-sm-6">
        <%= search_form_for @q, url: document_from_dns_path, method: :get do |f| %>
          <div class="input-group mb-3">
          <%= f.search_field :sender_or_subject_or_reference_number_cont, class:"form-control rounded", type:"search", placeholder:"Search" %>
          <%= f.submit "Search", class:"btn btn-outline-success menu-hover" %>
          </div>
        <% end %>
      </div>
    </div>


 


        

      <div id="document_from_dns">
      <% if @document_from_dns.any? %>
      <table class="table table-sm mt-4 table-hover">
            <thead>
              <tr>
                <th scope="col">Subject</th>
                <th scope="col">Sender </th>
                <th scope="col">Reference number</th>
                <th scope="col">Category</th>
                <th scope="col">Priority</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @document_from_dns.each do |document_from_dn| %>
              <tr>
              <td width="20%"><%= link_to  document_from_dn.subject, document_from_dn_path(document_from_dn), 
                    class:"link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
              </td>
                <td width="20%"><%= document_from_dn.sender %></td>
                <td width="20%"><%= document_from_dn.subject %></td>
                <td><%= document_from_dn.reference_number %></td>
                <td><%= document_from_dn.category %></td>
                <td><%= document_from_dn.priority %></td>
                <% @sts =  document_from_dn.status.to_i %>
                <% if @sts == 0 %>
                    <% @status = "<span class='badge rounded-pill bg-danger'>Pending</span>".html_safe %>
                <% elsif @sts == 100 %>
                    <% @status = "<span class='badge rounded-pill bg-success'>Completed</span>".html_safe %>
                <% else %>
                    <% @status = "<span class='badge rounded-pill bg-warning'>On Progress</span>".html_safe %>
                <% end %>


          <td><%= @status %></td>
                <td>
                  <div class="float-end">
                    <div class="btn-group btn-group-sm " role="group" aria-label="Small button group">
                      <%= link_to " ", document_from_dn_path(document_from_dn), class:"bi bi-eye-fill btn btn-sm btn-outline-secondary menu-hover" %>
                      <%= link_to " ", edit_document_from_dn_path(document_from_dn), class:"bi bi-pencil-fill btn btn-sm btn-outline-secondary menu-hover" %>
                       <!-- Button trigger modal -->
                      <button type="button" class="bi bi-trash-fill btn btn-sm btn-outline-secondary menu-hover" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Do you want to delete?</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <%= document_from_dn.subject %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="bi bi-x-circle-fill btn btn-sm btn-outline-secondary menu-hover" data-bs-dismiss="modal"> No</button>
                              <%= button_to " Yes", document_from_dn, method: :delete, class:"bi bi-check-circle-fill btn btn-sm btn-outline-secondary" %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Modal-->
                    </div>

                <% fs = document_from_dn.forwardstatus %>
                <% if fs == 'natdirectorate' %>
                <%= link_to " ", new_document_dn_forward_department_path(doc_id: document_from_dn.id), class:"bi bi-share-fill btn btn-sm btn-outline-secondary menu-hover" %>
                <% end %>


                    
                  </div>
                    </td>
                  
                  
              </tr>
            <% end %>
            </tbody>
          </table>

          <% else %>
      <p>No documents found <%= link_to "Back", document_from_dns_path, class:"btn btn-sm btn-outline-secondary" %></p>
      
    <% end %>
<%= paginate @document_from_dns %>

    </div>

  </div>











