<%= form_with(model: job_application) do |form| %>
  <% if job_application.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job_application.errors.count, "error") %> prohibited this job_application from being saved:</h2>

      <ul>
        <% job_application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :job_list_id, style: "display: block" %>
    <%= form.text_field :job_list_id %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :resume, style: "display: block" %>
    <%= form.text_field :resume %>
  </div>

  <div>
    <%= form.label :diplomadegree, style: "display: block" %>
    <%= form.text_field :diplomadegree %>
  </div>

  <div>
    <%= form.label :transcriptdegree, style: "display: block" %>
    <%= form.text_field :transcriptdegree %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
