<div id="<%= dom_id job_application %>">
  <p>
    <strong>Job list:</strong>
    <%= job_application.job_list_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= job_application.email %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= job_application.resume %>
  </p>

  <p>
    <strong>Diplomadegree:</strong>
    <%= job_application.diplomadegree %>
  </p>

  <p>
    <strong>Transcriptdegree:</strong>
    <%= job_application.transcriptdegree %>
  </p>

</div>
