<div id="<%= dom_id department %>">
  <p>
    <strong>Depcode:</strong>
    <%= department.depcode %>
  </p>

  <p>
    <strong>Depname:</strong>
    <%= department.depname %>
  </p>

  <p>
    <strong>Natdirectorate:</strong>
    <%= department.natdirectorate_id %>
  </p>

  <p>
    <strong>Directorate:</strong>
    <%= department.directorate_id %>
  </p>

</div>
