<div class="col-lg-12">
    <div class="card bg-secondary-subtle">
        <div class="card-body ">
           <div class="mt-5 mt-lg-4">


                <%= form_with(model: department) do |form| %>
                  <% if department.errors.any? %>
                    <div style="color: red">
                      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

                      <ul>
                        <% department.errors.each do |error| %>
                          <li><%= error.full_message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>

                 <div class="row mb-4">
                    <div class="col-sm-2">
                      <%= form.label :depcode, style: "display: block" %>
                      <%= form.text_field :depcode, class:"form-control"  %>
                    </div>

                    <div class="col-sm-4">
                      <%= form.label :depname, style: "display: block" %>
                      <%= form.text_field :depname, class:"form-control"  %>
                    </div>

                    <div class="col-sm-3">
                      <%= form.label :natdirectorate_id, style: "display: block" %>
                  <%= form.collection_select( :natdirectorate_id, Natdirectorate.all.order(:natdirname),:id,:natdirname,{include_blank: false}, {class: 'form-select d-inline '})%>
                    </div>

                   <div class="col-sm-3">
                      <%= form.label :directorate_id, style: "display: block" %>
                     <%= form.collection_select( :directorate_id, Directorate.all.order(:dirname),:id,:dirname,{include_blank: false}, {class: 'form-select d-inline '})%>
                    </div>

                   
                  <div class="mt-3">
                    <%= form.submit "Submit", class:"btn btn-primary" %>
                    <%= link_to "Back", departments_path, class:"btn btn-secondary" %>
                  </div>
                </div>
                  <% end %>
       </div>  
      </div>  
    </div>  
  </div>