<div class="row mt-2">
        <div class="col-sm-2 mb-1">
        <div class="card shadow-sm bg-body rounded">
            <div class="card-body text-center">
            <div class="text-center ">
                <img src="../open-folder.png" style="width:30px;padding:1px; " class="card-img-top" alt="...">
            </div>
            <h6 class="card-title">Karta Husi DG</h6>
            <a href="/document_from_dgs" class="stretched-link"></a>
            </div>
        </div>
        </div>

        <div class="col-sm-2 mb-1">
        <div class="card shadow-sm bg-body rounded">
            <div class="card-body text-center">
            <div class="text-center ">
                <img src="../open-folder.png" style="width:30px;padding:1px; " class="card-img-top" alt="...">
            </div>
            <h6 class="card-title">Karta husi DN</h6>
            <a href="/document_from_dns" class="stretched-link"></a>
            </div>
        </div>
        </div>

</div>


<div class="card mt-1">
  <div class="card-header">
    <h5>Recent Document From DG</h5>
  </div>
  <div class="card-body">
    <table class="table table-sm table-hover">
    <thead>
        <tr>
        <th scope="col">Sender</th>
        <th scope="col">Subject</th>
        <th scope="col">Reference number</th>
        <th scope="col">status</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    <% @document_from_dgs.each do |document_from_dg| %>
        <tr>
        
            <td class="w-25"><%= document_from_dg.sender %></td>
            <td class="w-25"><%= document_from_dg.subject %></td>
            <td><%= document_from_dg.reference_number %></td>
            <% @sts =  document_from_dg.status.to_i %>
            <% if @sts == 0 %>
                <% @status = "<span class='badge rounded-pill bg-danger'>Pending</span>".html_safe %>
            <% elsif @sts == 100 %>
                <% @status = "<span class='badge rounded-pill bg-success'>Completed</span>".html_safe %>
            <% else %>
                <% @status = "<span class='badge rounded-pill bg-warning'>On Progress</span>".html_safe %>
            <% end %>
            <td><%= @status %></td>
            <td> <%= link_to "View", document_from_dg_path(document_from_dg), class:"btn btn-sm btn-outline-primary" %></td>
      
        </tr>
  <% end %>
    </tbody>
    </table>
    </div>
</div>



<div class="card mt-2">
  <div class="card-header">
    <h5>Recent Document From DN</h5>
  </div>
  <div class="card-body">
    <table class="table table-sm table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        </tr>
  
    </tbody>
    </table>
    </div>
</div>
