


  <div class="card mt-2">
    <div class="card-header cardcolor">
      Minister Documents
    </div>
    <div class="card-body">

    <div class="row g-0">
     
      <div class="col-sm-6">
        <%= search_form_for @q, url: dashboard_operator_directorate_path, method: :get do |f| %>
          <div class="input-group mb-3">
          <%= f.search_field :sender_or_subject_or_reference_number_cont, class:"form-control form-control-sm rounded", type:"search", placeholder:"Search" %>
          <%= f.submit "Search", class:"btn btn-sm btn-outline-secondary menu-hover" %>
          </div>
        <% end %>
      </div>
    </div>

  

<div id="minister_documents">
<% if @minister_documents.any? %>
 <table class="table table-sm mt-4 table-hover">
      <thead>
        <tr>
          <th scope="col">Subject</th>
          <th scope="col">Sender </th>
          <th scope="col">Reference number</th>
          <th scope="col">Category</th>
          <th scope="col">Priority</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @minister_documents.each do |minister_document| %>
        <tr>
        <td width="20%"><%= link_to  minister_document.subject, view_minister_document_op_dn_path(minister_document), 
              class:"link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
        </td>
          <td width="20%"><%= minister_document.sender %></td>
          <td><%= minister_document.reference_number %></td>
          <td><%= minister_document.category %></td>
          <td><%= minister_document.priority %></td>
           
            <% @sts =  minister_document.status.to_i %>
            <% if @sts == 0 %>
                <% @status = "<span class='badge rounded-pill bg-danger'>Pending</span>".html_safe %>
            <% elsif @sts == 100 %>
                <% @status = "<span class='badge rounded-pill bg-success'>Completed</span>".html_safe %>
            <% else %>
                <% @status = "<span class='badge rounded-pill bg-warning'>In Progress</span>".html_safe %>
            <% end %>


          <td><%= @status %></td>
          <td>
            <div class="float-end">
                <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                  <%= link_to " ", view_minister_document_op_dn_path(minister_document), class:"bi bi-eye-fill btn btn-sm btn-outline-secondary menu-hover" %>
                </div>

                <% fs = minister_document.forward_status %>
                <%  @minister_document_forward_department = MinisterDocumentForwardDepartment
        .where(natdirectorate_id: @natdirectorate_id, minister_document_id: minister_document.id) %>

                  <% if current_user&.operator_dn? %>
                      <% if !@minister_document_forward_department.present?  %>
                        <%= link_to "  ", new_minister_document_forward_department_path(doc_id: minister_document.id), class:"bi bi-share-fill btn btn-sm btn-outline-secondary menu-hover" %>
                    <% end %>
                  <% end %>
               
              </div>
          </td>
             
            
        </tr>
      <% end %>
      </tbody>
    </table>


    <% else %>
      <p>No documents found <%= link_to "Back", dashboard_operator_directorate_path, class:"btn btn-sm btn-outline-secondary menu-hover" %></p>
      
    <% end %>

<%= paginate @minister_documents, class:"pagination" %>
    </div>

  </div>





