<p style="color: green"><%= notice %></p>

<%= render @minister_document_forward_department_unit %>

<div>
  <%= link_to "Edit this minister document forward department unit", edit_minister_document_forward_department_unit_path(@minister_document_forward_department_unit) %> |
  <%= link_to "Back to minister document forward department units", minister_document_forward_department_units_path %>

  <%= button_to "Destroy this minister document forward department unit", @minister_document_forward_department_unit, method: :delete %>
</div>
