<p style="color: green"><%= notice %></p>

<%= render @document_dg_forward_department %>

<div>
  <%= link_to "Edit this document dg forward department", edit_document_dg_forward_department_path(@document_dg_forward_department) %> |
  <%= link_to "Back to document dg forward departments", document_dg_forward_departments_path %>

  <%= button_to "Destroy this document dg forward department", @document_dg_forward_department, method: :delete %>
</div>
