<div class="card mt-2">
  <div class="card-header cardcolor" >Archive</div>
  <div class="card-body ">

<div id="<%= dom_id minister_archive %>">

    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <label for="clan_house_name" class="col-sm-2 ">Document title </label>
          <div class="col-sm-10">
          <%= minister_archive.document_title %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <label for="clan_house_name" class="col-sm-2 ">Document number </label>
          <div class="col-sm-10">
          <%= minister_archive.document_number %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <label for="clan_house_name" class="col-sm-2 ">Reference number </label>
          <div class="col-sm-10">
          <%= minister_archive.reference_number %>
          </div>
        </div>
      </li>
        <li class="list-group-item">
          <div class="row">
            <label for="clan_house_name" class="col-sm-2 ">Document type </label>
            <div class="col-sm-10">
            <%= minister_archive.document_type %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <label for="clan_house_name" class="col-sm-2 ">Governu </label>
            <div class="col-sm-10">
            <%= minister_archive.constitutional_government_id %>
            </div>
          </div>
        </li>
          <li class="list-group-item">
            <div class="row">
              <label for="clan_house_name" class="col-sm-2 ">Remarks </label>
              <div class="col-sm-10">
              <%= minister_archive.remarks %>
              </div>
            </div>
          </li>
           <li class="list-group-item">
            <div class=" row">
                <label class="col-sm-2 col-form-label">Attachment</label> 
                <div class="col-sm-9">
                  <a href="<%= minister_archive.minister_archive_attachment.url %>" target="_blank" %>
                    <%= File.basename(minister_archive.minister_archive_attachment.file.path) if minister_archive.minister_archive_attachment.file %>
                  </a>
                </div>
              </div>
            </li>
      </ul>
</div>

<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-4">
 <div class="btn-group gap-2">
  <%= link_to " Edit", edit_minister_archive_path(minister_archive), class:"bi bi-pencil-square btn btn-sm btn-outline-secondary menu-hover" %>
  <%= link_to " Back", minister_archives_path, class:"bi bi-backspace-fill btn btn-sm btn-outline-secondary menu-hover" %>
<% if can?(:delete, MinisterArchive) %>  
  <!-- Button trigger modal -->
<button type="button" class="bi bi-trash-fill btn btn-sm btn-outline-secondary menu-hover" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Delete
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Do you want to delete?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <%= minister_archive.document_title %>
      </div>
      <div class="modal-footer">
        <button type="button" class="bi bi-x-circle-fill btn btn-sm btn-outline-secondary menu-hover" data-bs-dismiss="modal"> No</button>
         <%= button_to " Yes", minister_archive, method: :delete, class:"bi bi-check-circle-fill btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>
<!-- End Modal-->
<% end %>
</div>

</div>
</div>




