<p style="color: green"><%= notice %></p>

<%= render @document_dn_forward_department %>

<div>
  <%= link_to "Edit this document dn forward department", edit_document_dn_forward_department_path(@document_dn_forward_department) %> |
  <%= link_to "Back to document dn forward departments", document_dn_forward_departments_path %>

  <%= button_to "Destroy this document dn forward department", @document_dn_forward_department, method: :delete %>
</div>
